Repository ampproject/amp-toolbox-php, pull requests merged in 2021-03, with the labels that each got.

#86 Add support for a data-hero-candidate attribute
  src/Attribute.php
  src/Optimizer/Transformer/PreloadHeroImage.php
  tests/Optimizer/Transformer/PreloadHeroImageTest.php
Labels: Optimizer, SSR

#96 Add automerge workflow
  .github/workflows/automerge.yml
  .github/workflows/sync-local-fallback-files.yml
  .github/workflows/sync-spec-test-suite.yml
  .github/workflows/test.yml
Labels: Infrastructure

#79 Parse document correctly when AMP emoji is used
  src/Dom/Document.php
  src/Dom/Document/Encoding.php
  src/Dom/Document/Option.php
  tests/Dom/DocumentTest.php
  tests/src/MarkupComparison.php
Labels: Bug, DOM

#99 Fix broken encoding when using document fragments
  src/Dom/Document.php
  tests/Dom/DocumentTest.php
  tests/Optimizer/Transformer/ServerSideRenderingTest.php
Labels: Bug, DOM

#104 Fix wrongly urlencoded src attributes in mustache templates
  src/Dom/Document.php
  tests/Dom/DocumentTest.php
Labels: Bug, DOM

#106 Prevent loading=lazy attribute from being removed from amp-story-player poster img
  src/Attribute.php
  src/Optimizer/Transformer/PreloadHeroImage.php
  tests/Optimizer/Transformer/PreloadHeroImageTest.php
Labels: Bug, Optimizer, SSR

#92 Add CLI tool
  .codecov.yml
  .github/workflows/test.yml
  bin/amp
  phpstan.neon.dist
  src/Cli/AmpExecutable.php
  src/Cli/Colors.php
  src/Cli/Command.php
  src/Cli/Command/Optimize.php
  src/Cli/Executable.php
  src/Cli/Options.php
  src/Cli/TableFormatter.php
  src/Exception/AmpCliException.php
  src/Exception/Cli/InvalidArgument.php
  src/Exception/Cli/InvalidColor.php
  src/Exception/Cli/InvalidColumnFormat.php
  src/Exception/Cli/InvalidCommand.php
  src/Exception/Cli/InvalidOption.php
  src/Exception/Cli/InvalidSapi.php
  src/Exception/Cli/MissingArgument.php
  tests/Cli/AmpExecutableTest.php
  tests/Cli/ColorsTest.php
  tests/Cli/Command/OptimizeTest.php
  tests/Cli/OptionsTest.php
  tests/Cli/TableFormatterTest.php
  tests/Exception/Cli/InvalidArgumentTest.php
  tests/Exception/Cli/InvalidColorTest.php
  tests/Exception/Cli/InvalidColumnFormatTest.php
  tests/Exception/Cli/InvalidCommandTest.php
  tests/Exception/Cli/InvalidOptionTest.php
  tests/Exception/Cli/InvalidSapiTest.php
  tests/Exception/Cli/MissingArgumentTest.php
  tests/Exception/FailedToGetCachedResponseTest.php
  tests/Exception/FailedToGetFromRemoteUrlTest.php
  tests/Exception/FailedToRetrieveRequiredDomElementTest.php
  tests/Exception/MaxCssByteCountExceededTest.php
  tests/spec/end-to-end/hello-world/expected_output.default.html
  tests/src/PrivateAccess.php
Labels: CLI

#115 Remove hard-coded isTiny() result for intrinsic layout
  src/Optimizer/ImageDimensions.php
  tests/Optimizer/ImageDimensionsTest.php
  tests/Optimizer/SpecTest.php
  tests/spec/transformers/valid/OptimizeHeroImages/ignores_tiny_images_intrinsic/expected_output.html
Labels: Bug
