Repository ampproject/amp-toolbox-php, pull requests merged in 2021-05, with the labels that each got.

#180 Fix collection of preload nodes when v0.js is preloaded
  src/Optimizer/Transformer/RewriteAmpUrls.php
Labels: Bug, Optimizer

#183 Skip detecting ASCII when charset is set to "US-ASCII"
  src/Dom/Document/Encoding.php
Labels: DOM, Performance

#209 Correct sort of transformers to fix preload hero images
  src/Optimizer/Configuration.php
Labels: Bug, Optimizer, SSR

#211 Add support for amp-onerror on transformed pages (with ESM scripts)
  src/Optimizer/Configuration.php
  src/Optimizer/Transformer/AmpBoilerplateErrorHandler.php
  tests/Optimizer/Transformer/AmpBoilerplateErrorHandlerTest.php
Labels: Optimizer, SSR
