Repository ampproject/amp-toolbox-php, pull requests merged in 2021-06, with the labels that each got.

#229 Skip broken boilerplate error handler spec test
  tests/Optimizer/SpecTest.php
Labels: Optimizer, Testing

#230 Add codecov token
  .codecov.yml
Labels: Testing

#231 Use maxBytes from Spec instead of hard-coding it
  src/Amp.php
  src/Dom/Document.php
  src/Optimizer/Configuration.php
  src/Optimizer/Transformer/TransformedIdentifier.php
  tests/Dom/DocumentTest.php
  tests/Dom/ElementTest.php
  tests/Optimizer/TransformationEngineTest.php
Labels: Bug, DOM, Optimizer

#181 Add SSR support for fluid layout
  src/Amp.php
  src/Optimizer/Transformer/ServerSideRendering.php
  tests/Optimizer/Transformer/ServerSideRenderingTest.php
Labels: Optimizer, SSR

#179 Add resource hints transformers
  src/Attribute.php
  src/Dom/Document.php
  src/Dom/LinkManager.php
  src/Exception/FailedToCreateLink.php
  src/Optimizer/Configuration.php
  src/Optimizer/Transformer/AmpRuntimePreloads.php
  src/Optimizer/Transformer/GoogleFontsPreconnect.php
  src/Optimizer/Transformer/RewriteAmpUrls.php
  tests/Dom/LinkManagerTest.php
  tests/Optimizer/SpecTest.php
  tests/Optimizer/Transformer/AmpRuntimePreloadsTest.php
  tests/Optimizer/Transformer/GoogleFontsPreconnectTest.php
  tests/src/MarkupComparison.php
Labels: DOM, Optimizer, Performance

#218 Conditionally add boilerplate error handler script depending on ESM, not transformed attribute
  .github/workflows/test.yml
  src/Optimizer/Transformer/AmpBoilerplateErrorHandler.php
  tests/Optimizer/SpecTest.php
  tests/Optimizer/Transformer/AmpBoilerplateErrorHandlerTest.php
  tests/src/TestMarkup.php
Labels: Bug, Optimizer

#254 Add WPCS for inline doc and comments
  .phpcs.xml.dist
  bin/src/Validator/SpecGenerator/Template/Tags.php
  composer.json
  phpstan.neon.dist
  src/Cli/AmpExecutable.php
  src/Cli/Executable.php
  src/DevMode.php
  src/Dom/Document.php
  src/Dom/Element.php
  src/Dom/LinkManager.php
  src/LengthUnit.php
  src/Optimizer/CssRule.php
  src/Optimizer/CssRules.php
  src/Optimizer/Transformer/PreloadHeroImage.php
  src/Optimizer/Transformer/ReorderHead.php
  src/Optimizer/Transformer/ServerSideRendering.php
  src/RemoteRequest/FallbackRemoteGetRequest.php
  src/RemoteRequest/FilesystemRemoteGetRequest.php
  src/Validator/Spec/Section/Tags.php
Labels: Documentation
