Repository ampproject/amp-toolbox-php, pull requests merged in 2021-04, with the labels that each got.

#122 Fix SSR for nested AMP components
  src/Optimizer/Transformer/ServerSideRendering.php
  tests/Optimizer/Transformer/ServerSideRenderingTest.php
Labels: Bug, Optimizer, SSR

#128 Calling curl_errno() before closing the connection throws an error
  src/RemoteRequest/CurlRemoteGetRequest.php
Labels: Bug

#130 Fix deduplication of AMP scripts and improve ReorderHead transformer
  src/Amp.php
  src/Optimizer/Transformer/ReorderHead.php
  src/Optimizer/Transformer/RewriteAmpUrls.php
  tests/Optimizer/Transformer/ReorderHeadTest.php
  tests/Optimizer/Transformer/RewriteAmpUrlsTest.php
  tests/spec/transformers/valid/ReorderHeadTransformer/supports_esm/expected_output.html
  tests/spec/transformers/valid/ReorderHeadTransformer/supports_esm/input.html
Labels: Bug, Optimizer

#133 Replace phpcs exclude-pattern with explicit file includes
  .phpcs.xml.dist
Labels: Testing

#136 Check hero image media attribute before srcset
  src/Optimizer/Transformer/PreloadHeroImage.php
  tests/Optimizer/Transformer/PreloadHeroImageTest.php
Labels: Bug, Optimizer

#119 Add RewriteAmpUrls transformer
  README.md
  bin/sync-amp-toolbox-test-suite.php
  composer.json
  src/Amp.php
  src/Attribute.php
  src/Dom/Document.php
  src/Dom/Element.php
  src/Exception/FailedToGetCachedResponse.php
  src/Exception/FailedToParseUrl.php
  src/Optimizer/Configuration.php
  src/Optimizer/Configuration/AmpRuntimeCssConfiguration.php
  src/Optimizer/Configuration/PreloadHeroImageConfiguration.php
  src/Optimizer/Configuration/RewriteAmpUrlsConfiguration.php
  src/Optimizer/Configuration/TransformedIdentifierConfiguration.php
  src/Optimizer/Error/CannotAdaptDocumentForSelfHosting.php
  src/Optimizer/Error/CannotInlineRuntimeCss.php
  src/Optimizer/Error/CannotPerformServerSideRendering.php
  src/Optimizer/Error/CannotPreloadImage.php
  src/Optimizer/Error/CannotRemoveBoilerplate.php
  src/Optimizer/Error/TooManyHeroImages.php
  src/Optimizer/Error/UnknownError.php
  src/Optimizer/Exception/InvalidConfiguration.php
  src/Optimizer/Exception/UnknownConfigurationKey.php
  src/Optimizer/Transformer/AmpRuntimeCss.php
  src/Optimizer/Transformer/PreloadHeroImage.php
  src/Optimizer/Transformer/ReorderHead.php
  src/Optimizer/Transformer/RewriteAmpUrls.php
  src/RemoteRequest/FallbackRemoteGetRequest.php
  src/RuntimeVersion.php
  src/Url.php
  tests/Dom/DocumentTest.php
  tests/Dom/ElementTest.php
  tests/Optimizer/Configuration/AmpRuntimeCssConfigurationTest.php
  tests/Optimizer/Configuration/PreloadHeroImageConfigurationTest.php
  tests/Optimizer/Configuration/RewriteAmpUrlsConfigurationTest.php
  tests/Optimizer/Configuration/TransformedIdentifierConfigurationTest.php
  tests/Optimizer/SpecTest.php
  tests/Optimizer/Transformer/ReorderHeadTest.php
  tests/Optimizer/Transformer/RewriteAmpUrlsTest.php
  tests/UrlTest.php
  tests/spec/transformers/experimental/OptimizeAmpBind/config.json
  tests/spec/transformers/experimental/RewriteAmpUrls/config.json
  tests/spec/transformers/valid/AddBlurryImagePlaceholders/config.json
  tests/spec/transformers/valid/AutoExtensionImporter/config.json
  tests/spec/transformers/valid/Markdown/config.json
  tests/spec/transformers/valid/RewriteAmpUrls/config.json
Labels: DOM, Optimizer

#139 Add amp binary to Composer bin directive
  composer.json
Labels: CLI

#144 Fix tiny image detection inside responsive parent
  src/Dom/Document.php
  src/Dom/Element.php
  src/Optimizer/ImageDimensions.php
  tests/Dom/ElementTest.php
  tests/Optimizer/ImageDimensionsTest.php
Labels: Bug, DOM, Optimizer, SSR

#140 Add crossorigin=anonymous to nomodule scripts
  src/Optimizer/Transformer/RewriteAmpUrls.php
  tests/Optimizer/Transformer/RewriteAmpUrlsTest.php
Labels: Bug, Optimizer

#145 Add autoloader scenario for package as dependency
  bin/amp
Labels: Bug, CLI

#146 Add more dynamic logging behavior
  src/Cli/AmpExecutable.php
  src/Cli/Executable.php
  src/Cli/LogLevel.php
  tests/Cli/AmpExecutableTest.php
Labels: Bug, CLI

#141 Prevent SSR for amp-img occurring after second paragraph
  src/Optimizer/Transformer/PreloadHeroImage.php
  src/Tag.php
  tests/Optimizer/SpecTest.php
  tests/Optimizer/Transformer/PreloadHeroImageTest.php
Labels: Optimizer, Performance, SSR

#150 Make Configuration extensible
  README.md
  src/Optimizer/Configuration.php
  src/Optimizer/DefaultConfiguration.php
  src/Optimizer/TransformationEngine.php
  tests/Optimizer/DefaultConfigurationTest.php
  tests/Optimizer/SpecTest.php
  tests/Optimizer/TransformationEngineTest.php
Labels: Infrastructure, Optimizer

#149 Include candidate hero images after paragraphs and persist `loading` attribute on `noscript > img` fallback
  src/Optimizer/Transformer/PreloadHeroImage.php
  tests/Optimizer/SpecTest.php
  tests/Optimizer/Transformer/PreloadHeroImageTest.php
  tests/spec/transformers/valid/OptimizeHeroImages/amp-iframe_data-hero/expected_output.html
  tests/spec/transformers/valid/OptimizeHeroImages/amp-img_with_noscript_fallbacks/expected_output.html
  tests/spec/transformers/valid/OptimizeHeroImages/amp-img_with_noscript_fallbacks/input.html
Labels: Optimizer, Performance

#154 Add toArray() to transformer configuration
  src/Optimizer/Configuration/BaseTransformerConfiguration.php
  src/Optimizer/TransformerConfiguration.php
  tests/Optimizer/Configuration/AmpRuntimeCssConfigurationTest.php
  tests/Optimizer/Configuration/PreloadHeroImageConfigurationTest.php
  tests/Optimizer/Configuration/RewriteAmpUrlsConfigurationTest.php
  tests/Optimizer/Configuration/TransformedIdentifierConfigurationTest.php
  tests/src/TestTransformer/DummyTransformerConfiguration.php
Labels: Breaking Change, Optimizer

#158 Replace Codecov bash uploader with GHA counterpart
  .github/workflows/test.yml
Labels: Testing

#162 Add OptimizeAmpBind transformer
  src/Attribute.php
  src/Dom/Document.php
  src/Dom/Element.php
  src/Dom/ElementDump.php
  src/Dom/NodeWalker.php
  src/Optimizer/Configuration.php
  src/Optimizer/Configuration/OptimizeAmpBindConfiguration.php
  src/Optimizer/DefaultConfiguration.php
  src/Optimizer/Transformer/OptimizeAmpBind.php
  src/Optimizer/Transformer/PreloadHeroImage.php
  tests/Dom/NodeWalkerTest.php
  tests/Optimizer/Configuration/OptimizeAmpBindConfigurationTest.php
  tests/Optimizer/SpecTest.php
  tests/Optimizer/Transformer/OptimizeAmpBindTest.php
Labels: Optimizer

#167 Fix covers annotation for CLI exceptions and improve overall coverage
  src/RemoteRequest/FallbackRemoteGetRequest.php
  src/RemoteRequest/RemoteGetRequestResponse.php
  src/Url.php
  tests/AmpTest.php
  tests/CssLengthTest.php
  tests/DevModeTest.php
  tests/Exception/Cli/InvalidArgumentTest.php
  tests/Exception/Cli/InvalidColorTest.php
  tests/Exception/Cli/InvalidColumnFormatTest.php
  tests/Exception/Cli/InvalidCommandTest.php
  tests/Exception/Cli/InvalidOptionTest.php
  tests/Exception/Cli/InvalidSapiTest.php
  tests/Exception/Cli/MissingArgumentTest.php
  tests/LengthUnitTest.php
  tests/RemoteRequest/CurlRemoteGetRequestTest.php
  tests/RemoteRequest/FallbackRemoteGetRequestTest.php
  tests/RemoteRequest/FilesystemRemoteGetRequestTest.php
  tests/RemoteRequest/RemoteGetRequestResponseTest.php
  tests/RemoteRequest/StubbedRemoteGetRequestTest.php
  tests/RuntimeVersionTest.php
  tests/UrlTest.php
Labels: Testing

#169 Add missing constants for AMP-WP #6112
  src/Attribute.php
  src/Extension.php
  src/Tag.php
Labels: DOM

#174 Point OptimizeAmpBind spec tests to valid instead of experimental
  tests/Optimizer/SpecTest.php
Labels: Testing
