Repository ampproject/amp-toolbox-php, pull requests merged in 2021-08, with the labels that each got.

#305 Preserve mustache tag wrapped in comment inside template element
  src/Optimizer/Transformer/MinifyHtml.php
  tests/Optimizer/Transformer/MinifyHtmlTest.php
Labels: Bug, Minification

#307 Disable the Codecov annotations check
  .codecov.yml
Labels: Testing

#310 Fix missing amp binary in the dist package
  .gitattributes
Labels: Distribution

#322 Add LIBXML_SCHEMA_CREATE flag in Document filter
  src/Dom/Document/Filter/LibxmlCompatibility.php
  tests/Dom/DocumentTest.php
Labels: Bug, DOM

#319 Allow CSS max byte count enforcement in `TransformedIdentifier` transformer to be configured
  src/Dom/Document.php
  src/Optimizer/Configuration/TransformedIdentifierConfiguration.php
  src/Optimizer/Transformer/TransformedIdentifier.php
  tests/Optimizer/Configuration/TransformedIdentifierConfigurationTest.php
  tests/Optimizer/Transformer/TransformedIdentifierTest.php
Labels: SSR, Optimizer

#281 Add amp-script minification
  composer.json
  src/Optimizer/Configuration/MinifyHtmlConfiguration.php
  src/Optimizer/Error/CannotMinifyAmpScript.php
  src/Optimizer/Error/MissingPackage.php
  src/Optimizer/Transformer/MinifyHtml.php
  tests/Optimizer/Configuration/MinifyHtmlConfigurationTest.php
  tests/Optimizer/Transformer/Error/CannotMinifyAmpScriptTest.php
  tests/Optimizer/Transformer/MinifyHtmlTest.php
Labels: Optimizer

#328 Add randomly-ordered unit test run to GHA workflow
  .github/workflows/test.yml
  tests/Dom/ElementTest.php
Labels: Testing

#329 Prepare tests for running in process isolation
  .phpcs.xml.dist
  tests/Dom/DocumentTest.php
  tests/Optimizer/Transformer/TransformedIdentifierTest.php
  tests/Validator/Spec/Section/AttributeListsTest.php
  tests/Validator/Spec/Section/CssSpecRulesTest.php
  tests/Validator/Spec/Section/DeclarationListsTest.php
  tests/Validator/Spec/Section/DescendantTagListsTest.php
  tests/Validator/Spec/Section/DocRulesetsTest.php
  tests/Validator/Spec/Section/ErrorsTest.php
  tests/Validator/Spec/Section/TagsTest.php
Labels: Testing

#316 Apply slot="i-amphtml-svc" to i-amphtml-sizer elements.
  src/Amp.php
  src/Optimizer/Transformer/ServerSideRendering.php
  tests/Optimizer/Transformer/ServerSideRenderingTest.php
  tests/spec/end-to-end/body-only/expected_output.full.html
  tests/spec/end-to-end/body-only/expected_output.lts.html
  tests/spec/end-to-end/hello-world/expected_output.fast.html
  tests/spec/end-to-end/hello-world/expected_output.full.html
  tests/spec/end-to-end/hello-world/expected_output.lts.html
  tests/spec/end-to-end/hello-world/expected_output.paired.html
  tests/spec/end-to-end/markdown/expected_output.full.html
  tests/spec/end-to-end/markdown/expected_output.lts.html
  tests/spec/end-to-end/story/expected_output.fast.html
  tests/spec/end-to-end/story/expected_output.full.html
  tests/spec/end-to-end/story/expected_output.lts.html
  tests/spec/end-to-end/story/expected_output.paired.html
  tests/spec/transformers/valid/ServerSideRendering/converts_heights_attribute_to_css/expected_output.html
  tests/spec/transformers/valid/ServerSideRendering/converts_sizes_attribute_to_css/expected_output.html
  tests/spec/transformers/valid/ServerSideRendering/does_not_change_content_in_templates/expected_output.html
  tests/spec/transformers/valid/ServerSideRendering/does_not_convert_invalid_heights_attribute/expected_output.html
  tests/spec/transformers/valid/ServerSideRendering/does_not_convert_invalid_sizes_attribute/expected_output.html
  tests/spec/transformers/valid/ServerSideRendering/transforms_layout_intrinsic/expected_output.html
  tests/spec/transformers/valid/ServerSideRendering/transforms_layout_responsive/expected_output.html
Labels: SSR, Optimizer

#335 Only merge CSS rules for `display:none`
  src/Optimizer/CssRule.php
  tests/Optimizer/CssRuleTest.php
  tests/Optimizer/CssRulesTest.php
Labels: Bug, SSR, Optimizer
