Repository ampproject/amp-toolbox-php, pull requests merged in 2021-10, with the labels that each got.

#368 Fix outdated PHPStan version in GHA workflow
  .github/workflows/test.yml
Labels: Testing

#366 Add `Attribute::DEFER`
  src/Attribute.php
Labels: DOM

#343 Add ProtectEsiTags Document filter
  src/Dom/Document.php
  src/Dom/Document/Filter/ProtectEsiTags.php
  tests/Dom/DocumentTest.php
Labels: DOM

#210 Add AutoExtensions transformer
  src/Dom/Document.php
  src/Dom/Document/Filter/SelfClosingSVGElements.php
  src/Optimizer/Configuration/AutoExtensionsConfiguration.php
  src/Optimizer/DefaultConfiguration.php
  src/Optimizer/Error/CannotParseJsonData.php
  src/Optimizer/Exception/InvalidConfigurationValue.php
  src/Optimizer/TransformationEngine.php
  src/Optimizer/Transformer/AutoExtensions.php
  tests/Dom/DocumentTest.php
  tests/Optimizer/Configuration/AutoExtensionsConfigurationTest.php
  tests/Optimizer/SpecTest.php
  tests/Optimizer/Transformer/AutoExtensionsTest.php
  tests/src/MarkupComparison.php
Labels: Optimizer

#369 Optimize ESI tags replacements
  src/Dom/Document/Filter/ProtectEsiTags.php
Labels: DOM

#373 Add OptimizeViewport transformer
  README.md
  src/Optimizer/Configuration.php
  src/Optimizer/Configuration/OptimizeViewportConfiguration.php
  src/Optimizer/DefaultConfiguration.php
  src/Optimizer/Transformer/OptimizeViewport.php
  tests/Optimizer/Configuration/OptimizeViewportConfigurationTest.php
  tests/Optimizer/TransformationEngineTest.php
  tests/Optimizer/Transformer/OptimizeViewportTest.php
Labels: DOM
