Repository ampproject/amp-toolbox-php, pull requests merged in 2022-04, with the labels that each got.

#513 Prevent `SelfClosingSVGElements` document filter from erroneously self-closing tags
  src/Dom/Document/Filter/SelfClosingSVGElements.php
  tests/Dom/DocumentTest.php
Labels: DOM

#516 Harden hero image optimization when `noscript > img` fallbacks are present
  src/Optimizer/Transformer/OptimizeHeroImages.php
  tests/Optimizer/Transformer/OptimizeHeroImagesTest.php
Labels: Bug, SSR, Optimizer

#521 Fix SSR sizer responsiveness issue
  src/Optimizer/Transformer/ServerSideRendering.php
  tests/Optimizer/Transformer/ServerSideRenderingTest.php
Labels: Bug, SSR
